page {
	height: 100%;
	color: #333;
}

image {
	width: auto;
	height: auto;
}

.common-page {
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* 点击效果 */
.click {
  opacity: 0.9 !important;
  background-color: #eee !important;
}

/* 输入框占位符 */
.input-placeholder {
	color: #bbb;
	font-size: 26rpx;
}

/* 输入框默认样式 */
.input {
	flex: 1;
	color: #666;
	font-size: 26rpx;
	display: flex;
	align-items: center;
}

/* 边框外阴影统一样式处理 */
.boxShadow {
	box-shadow: 0rpx 0rpx 10rpx rgba(153, 153, 146, 0.5);
}

.boxShadow-bottom {
	box-shadow: 0 15rpx 20rpx -10px rgba(153, 153, 146, 0.5);
}

.boxShadow-default {
	box-shadow: 0rpx 0rpx 10rpx rgba(51, 145, 204, 0.43);
}

.boxShadow-red {
	box-shadow: 0rpx 0rpx 10rpx rgba(235, 15, 15, 0.43);
}

/* 圆角 */
.borderRadius {
	border-radius: 10rpx;
}

.borderRadius-topLeft {
	border-top-left-radius: 10rpx;
}

.borderRadius-topRight {
	border-top-right-radius: 10rpx;
}

.borderRadius-bottomLeft {
	border-bottom-left-radius: 10rpx;
}

.borderRadius-bottomRight {
	border-bottom-right-radius: 10rpx;
}

/* 边框 */
.border {
	border: 2rpx solid rgba(51, 51, 51, .1);
}

.border-top {
	border-top: 2rpx solid rgba(51, 51, 51, .1);
}

.border-bottom {
	border-bottom: 2rpx solid rgba(51, 51, 51, .1);
}

.border-left {
	border-left: 2rpx solid rgba(51, 51, 51, .1);
}

.border-right {
	border-right: 2rpx solid rgba(51, 51, 51, .1);
}

/* 点击效果 */
.click {
	opacity: 0.9 !important;
	background-color: #eee !important;
}

/* 文本对齐方式 */
.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}
